
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Sail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');



body {
    margin: 0px;
}

#welcome-section {
    height: calc(100vh - 100px);
    background-image:  linear-gradient(45deg, rgb(61, 61, 71),  #1F1F21); 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   

}
#welcome-section h1 {
    margin: 5px;
    color: white;
    order: 1;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    
}
#welcome-section h4 {
    margin: 5px;
    color: white;
    order: 2;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #BE3144;
}
#projects-container {
    background-color: #45567D;
    padding: 70px 20px;
}

#projects-container h2{
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    color: white;
    text-align: center;
    font-size: 38px;
    border-bottom: 3px solid white;
    width: 700px;

}

.projects-title {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    background-color: #303841;
    margin: -4px 0px;
    padding: 1rem 0rem;
    border-radius: 0px 0px 10px 10px;
    transition: ease 0.3s;
    

}
#projects {
    padding: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3rem;
    width: 100%;
    max-width: 1380px; 
    margin: 0px auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.project-tile{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
    width: 100%;
    max-width: 400px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 8px 5px rgba(0,0,0,0.24), 3px 5px 3px rgba(0,0,0,0.24);
}

.project-tile:hover .projects-title{
    font-size: 24px;
}
.project-tile:hover {
    transform: scale(1.07);
    z-index: 1;
    box-shadow: 15px 15px 1px rgba(255,127,80,0.02), 20px 20px 10px rgba(48,56,65,0.86);
}

.project-tile img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    height: 360px;
    margin: 0px;
    transition: ease-out 1s;

    
}

#documentation img {
    object-position: 0% 50%;

}

.project-tile:hover  img {

}

.code {
    color: #303841;
    transition: color ease 0.6s;
}

.project-tile:hover .code {
    color: #ff7f50;
}

.all-projects {
    width: 260px;
    height: 70px;
    color: white;
    background-color: #303841;
    border-radius: 10px;
    border: 0px solid;
    margin: 0px auto;
    display: block;
    text-align: center;
    font-size: 28px;
    box-shadow: 6px 8px 5px rgba(0,0,0,0.24), 3px 5px 3px rgba(0,0,0,0.24);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.all-projects:active {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.24), 0px 0px 3px rgba(0,0,0,0.24);
    transform: translate(6px, 8px)
}

.all-projects span {
    transition: 0.5s;
    padding-left: 60px;
}


  
  .all-projects:hover span {
    padding-right: 10px;
    padding-left: 10px;
    color: #ff7f50;
  }
  
  .all-projects i {
      
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    color: #ff7f50;
    opacity: 0;
}


  
  .all-projects:hover i {
    opacity: 1;
    padding-left: 10px;
  }
  

#navbar {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    background-color: #BE3144;
    z-index: 2;
    
}

#navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    

}

#navbar  li {
    display: inline-block;
    text-align: center;
    float: right;
}

#navbar li a {
    display: inline-block;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    color: white;
    font-family: 'Sail', cursive;
    font-size: 40px;
    
}

#navbar li:hover {
    background-color: rgb(38, 38, 61);
}

footer {
    height: 150px;
    width: 100%;
    border-top: 2px solid #BE3144;
    background-color:  #303841;
}

#profile {
    background-color: #303841;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;

}


#title-footer{
    order: 1;
    text-align: center;   
}
#links-footer {
    order: 2;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


#links-footer a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin: 0px 30px;
    transition: transform 0.2s ease-out;
}
#title-footer h4{
    font-size: 22px;
    margin: 15px;
}

#title-footer h1{
    margin: 15px;
    font-size: 60px;
}
.prolife-link {

    transition: transform 0.3s ease-out;
    
}

.prolife-link:hover {
    transform: translateY(8px);
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    height: 100px;

}

footer a {
    padding-left: 50px;
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width:750px){

    #projects-container h2{
        width: 70%;
        font-size: 24px;
    }
    #navbar {
        top: 0px;
        height: 120px;
        max-width: 100%;
        margin: auto;
    }
    #navbar  ul {
        display: flex;
        flex-direction: column;
    }

    #navbar li a {
        padding: 5px 5px;
        font-size: 22px;
        
    }

    #welcome-section {
        top: 120px;
        height: calc(100vh - 120px);
    }

    #welcome-section h1 {

        font-size: 30px;
        
    }
    #welcome-section h4 {
        font-size: 20px;
        
    }

    #title-footer h4 {
    font-size: 18px;
    margin: 15px;
    }

    #title-footer h1{
    margin: 15px;
    font-size: 40px;
    }   

    #links-footer a {
        font-size: 22px;
        margin-top: 10px;
    }

    footer {
        flex-direction: column;
        height: 150px;
    }

    footer a {
        padding-left: 0px;
    }

    #profile {
        height: calc(100vh - 10px);
    }
    .projects-title {
        font-size: 16px;
    }
    
}  

@media (max-width:400px){
    #projects {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

@media (max-width:350px){
    #profile {
        justify-content: stretch;
    }
}
